<h2><%=h @project.name %></h2>

<% if @tasks %>
<ul class="task" id="task_list">
<% for task in @tasks %>
  <li><%= link_to h(task.description), project_task_path(@project, task) %> - <%= link_to 'Excluir', project_task_path(@project, task), :class => 'warning', :confirm => 'Você tem certeza que deseja excluir?', :method => :delete %></li>
<% end %>
</ul>
<% end %>

<p class="create"><%= link_to 'Adicionar nova tarefa', new_project_task_path(@project) %></p>
